numpy<2
setuptools<78
pytorch-lightning==2.1.0
lightning-utilities
diffusers>=0.24.0,<0.30
transformers>=4.35.0,<4.40
safetensors
huggingface-hub
omegaconf>=2.3.0
einops>=0.7.0
open3d>=0.17.0
opencv-python>=4.8.0
plyfile>=1.0
lpips>=0.1.4
torchmetrics>=1.2.0
kornia
scipy
scikit-learn
ropwr
camtools>=0.1.4
jaxtyping
open-clip-torch>=2.23.0
imageio>=2.31.0
imageio-ffmpeg
matplotlib
tqdm
pyyaml
tensorboard>=2.15.0
./submodules/diff-gaussian-rasterization
./submodules/simple-knn
./submodules/minLoRA
./submodules/CLIP
./submodules/pytorch3d
